<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>You posted a car for sale!</h1>

    <p>{{ mycar.getYear }}</p>
    <p>{{ mycar.getModel }}</p>
    <p>{{ mycar.getPrice }}</p>
    <p>{{ mycar.getPhoto }}</p>

    <p><a href='/'>View your list of cars</a></p>
  </body>
</html>
